@use '@angular/material' as mat;

:host{
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-on-primary-container),
  ));
  @include mat.icon-overrides((
    color: var(--mat-sys-on-primary-container),
  ));
}

.spacer {
  flex: 1 1 auto;
}
