<mat-toolbar>
    <mat-chip>
    On Sale
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  <mat-chip>
    Mens
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  <mat-chip>
    T-Shirts
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  <mat-chip>
    XL
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  <mat-chip>
    Black
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>

  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
