@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-on-primary-container),
    container-text-color: var(--mat-sys-on-secondary),
    content-background-color:linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%)
  ));
}

.container {
  width: auto;
  height: 100%;
  mat-drawer{
    border-radius: 0;
  }
}
