.title{
  color: var(--mat-sys-on-primary-container)
}
.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 32px;
}

.full-width {
  width: 100%;
}

.login-controls{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
