<form class="login-form">
    <h2 mat-dialog-title class="title">Login</h2>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl">
    </mat-form-field>
    <div class="login-controls">
      <button matButton="filled">Sign in</button>
      <button mat-button>Create Account</button>
    </div>
  </form>
